

.self-portrait {
    width: auto;
    height: 60em;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
    border-radius: 1em;
    border: 1px solid black;

    
}
.home-title {
    color: white;
    text-align: center;
}

.icons {
    width: fit-content;
    display: block;
    margin: 0 auto;
}
.github-icon {
    font-size: 2.5em;
    margin: .25em;
}

.linkedin-icon {
    font-size: 2.5em;
    margin: .25em;
}

@media only screen and (max-width: 490px) {
    .self-portrait {
        width: 14em;
        margin: 0 auto;
        display: block;
        margin-top: 3em;
        border-radius: 1em;
        border: 1px solid black; 
    }
}