
.home_component {
    width: 80%;
    margin: 0 auto;
}
.self-portrait {
    width: auto;
    height: 30em;
    margin: 0 auto;
    display: block;
   
    border-radius: 1em;
    border: 1px solid black;

    
}

.orange-it {
    color: orange;
    font-weight: 500;
}


.home-name {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0;
}


.home-title {
    color: white;
    text-align: center;
    font-size: 1.5em;
    color: orange;
}

.left_box {
    margin-top: 3em;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    position: fixed;
    border-right: 1px solid black;
}

.right_box {
    margin-top: 3em;
    display: inline-block;
    width: 60%;
    padding: 1.25em;
    vertical-align:top;
    position: relative;
    left: 40%;


}

.right_box h1 {
    color: orange;
    font-weight: 650;
}

.intro {
    color: white;
    font-size: 1.22em;
}

.about {
    color: white;
    font-size: 1.22em;
}

.right_box h3 {
    color: orange;
}


.icons {
    width: fit-content;
    display: block;
    margin: 0 auto;
}
.github-icon {
    font-size: 2.5em;
    margin: .25em;
}

.linkedin-icon {
    font-size: 2.5em;
    margin: .25em;
}

@media only screen and (max-width: 490px) {
    .self-portrait {
        height: 18em;
        margin: 0 auto;
        display: block;
        margin-top: 3em;
        border-radius: 1em;
        border: 1px solid black; 
    }
}