

.projects_container {
    margin-top: 1em;
    height: 80vh;
    overflow: auto;
    padding: none;
}


.project_h1 {
    color: white;
    text-align: center;
    
}

.project {
    color: white;
    display: flexbox;
    max-width: 65em;
    background-color: rgba(40, 40, 40, 0.6);
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 1em;
    margin-bottom: 2em;
}

.project p {
    padding-top: 1em;
    max-width: 50em;
    text-align: left;
    font-size: 1.10em;
    font-weight: 400;
}


#child_carousel {
    width: auto;
    margin: 0 auto;
    
    height: auto;
}

.github-icon-projects {
    color: white;
    font-size: 1em;
    margin-right: .2em
}

.project a {
    color: white;
    text-decoration: none;
    font-size: 2em;

}

img {
    width: auto;
    height: 30em!important;
    border-radius: 1em;
}

@media only screen and (max-width: 885px) {
    img {
        width: 700px;
        height: auto;
    }
    #child_carousel {
        width: fit-content;
    }
}

@media only screen and (max-width: 749px) {
    img {
        width: 600px;
        height: auto;
    }
    #child_carousel {
        width: fit-content;
    }
}

@media only screen and (max-width: 650px) {
    img {
        width: 550px;
        height: auto;
    }
    #child_carousel {
        width: fit-content;
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 450px;
        height: auto;
    }
    #child_carousel {
        width: fit-content;
    }
}

@media only screen and (max-width: 490px) {
    img {
        width: 230px;
        height: auto;
    }
    #child_carousel {
        width: fit-content;
    }
}