/* #carousel {
  
} */

.project_block {
  color: white;
  width: 67em;
  margin-bottom: 1em;
}

.carousel_img {
  width: 100% !important;
  height: 17.5em !important;
  border-radius: 1em;
  object-fit: cover;
}

#carousel {
  width: 35em !important;
  display: inline-block !important;
  vertical-align: top;
  margin-top: 0.5em;
}

.project_info {
  display: inline-block !important;
  vertical-align: top;
  width: 27em;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

.project_block a {
  color: white !important;
  text-decoration: none !important;
  font-size: 0.75em !important;
}

.project_block h2 {
  font-size: 1.5em;
}

.github-icon-projects {
  color: orange !important;
  font-size: 1.05em !important;
}

@media only screen and (max-width: 1300px) {
  #carousel {
    display: block !important;
    max-width: 40em !important;
    min-width: 40em !important;

    margin: 0 auto;
  }

  .carousel_img {
    height: auto !important;
  }

  .project_info {
    display: block !important;
    width: auto;
  }

  .project_block {
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
    #carousel {
      display: block !important;
      max-width: 35em !important;
      min-width: 35em !important;
  
      margin: 0 auto;
    }
  
    .carousel_img {
      height: auto !important;
    }
  
    .project_info {
      display: block !important;
      width: auto;
    }
  
    .project_block {
      width: 100%;
    }
  }

  @media only screen and (max-width: 650px) {
    #carousel {
      display: block !important;
      max-width: 22em !important;
      min-width: 22em !important;
  
      margin: 0 auto;
    }
  
    .carousel_img {
      height: auto !important;
    }
  
    .project_info {
      display: block !important;
      width: auto;
    }
  
    .project_block {
      width: 100vw;
    }
  }

@media only screen and (max-width: 1750px) {
  .project_block h2 {
    text-align: center;
  }
  #carousel {
    display: block !important;

    margin: 0 auto;
  }

  .project_block {
    width: auto;
  }

  .project_info {
    display: block !important;
    width: 80%;
    margin: 0 auto;
  }
}
